<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cindreace</title>
	
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="#best_service_seller" name="keywords">
	<!-- app info -->
	<meta property="og:title" content="Cindreace" />
	<meta property="og:description" content="Best Service Seller Ever 100% Risk Free User Friendly No Scam And Best Support" />
	<meta property="og:url" content="https://cinderace.devbhakat1.repl.co" />
	<meta property="og:image" content="https://cdn.discordapp.com/attachments/1185107493140045855/1190532536443621578/SPOILER_815-Cinderace.webp" />
	
  <!-- Favicons -->
  <link href="https://cdn.discordapp.com/attachments/1111537449068396626/1118128699984859167/815-Cinderace_1.webp" rel="icon">
  <link href="landing/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="landing/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="landing/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="landing/lib/animate/animate.min.css" rel="stylesheet">
  <link href="landing/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="landing/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="landing/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="landing/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">qyere</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#facts">Facts</a></li>
          <li><a href="#testimonials">Team</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('https://cdn.discordapp.com/attachments/1111537449068396626/1118122346746757231/story_region_1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>What is special in qyere?</h2>
                <p>we help people to easily sell there product to user without getting scammed.</p>
                <a href="/login" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('https://cdn.discordapp.com/attachments/1111537449068396626/1118122347644326008/XIhAQL.webp');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>What items we sell?</h2>
                <p>all items related to pogo community.</p>
                <a href="/login" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('https://cdn.discordapp.com/attachments/1111537449068396626/1118122349229776967/sea-pokemon-world-ru3an8igtevtibeb.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>How can i sell my product in qyere?</h2>
                <p>You need to verify yourself in our offical discord.</p>
                <a href="/login" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('https://cdn.discordapp.com/attachments/1111537449068396626/1118122349707935824/desktop-wallpaper-pokemon-landscapes-mudkip-sea-shorelines-high-quality-high-definition-pokemon-underwater.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>How to get verified seller role?</h2>
                <p>Sell more then 10 products to a user.</p>
                <a href="/login" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Oh come on you already know us :0 we just help people to buy or sell items without getting scammed.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="https://cdn.discordapp.com/attachments/1111537449068396626/1118126305305710674/194-1947775_ourmission-our-mission-hd-png-download.png" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                Our plan is to grow the pogo selling community and help user :)
                and more!!!!!!!!!!!! thats all join discord.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="https://cdn.discordapp.com/attachments/1111537449068396626/1118124429952684092/plan-icon-vector-free-transparent-png-download-pngkey.png" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                Our plan is to help people sell or buy stuff without getting scammed.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="https://cdn.discordapp.com/attachments/1111537449068396626/1118124053555839007/Collaboration_logo_V2.svg.png" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                yea we have one eye opened we watch our sellers always.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Service Tour</h3>
        <p> Our Services And Discord Server Tour In Small YouTube Video</p>
        <a class="cta-btn" href="#">Tour </a>
      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Our Skills</h3>
          <p>
          Our Skills For Your Support 
          </p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">User Friendly <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Respect You <i class="val">90%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Strictness <i class="val">80%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Problem Solving <i class="val">99%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Facts</h3>
          <p>Facts About Us And Some General Information</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">10</span>
            <p>Helping Staff's</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Trusted Traders</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">90</span>
            <p>Hours Of Support</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">8</span>
            <p>Hard Workers</p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="landing/img/facts-img.png" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>TEAMS</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="https://cdn.discordapp.com/avatars/801045922238300190/68476ae442ab91f7010f5cc843eae8fe.webp" class="testimonial-img" alt="">
            <h3>Devrock</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <img src="landing/img/quote-sign-left.png" class="quote-sign-left" alt="">
              HI I Am Founder Of qyere Service.
              <img src="landing/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="https://cdn.discordapp.com/avatars/820280877048135680/2b6c5c91b36023d769e0eba90155001e.webp?size=2048" class="testimonial-img" alt="">
            <h3>Ron</h3>
            <h4>Developer</h4>
            <p>
              <img src="landing/img/quote-sign-left.png" class="quote-sign-left" class="quote-sign-left" alt="">
              HI Deer I Am Developer Of Websites and Bots
              <img src="landing/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>


        </div>

      </div>
    </section><!-- #testimonials -->

    
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

           
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Email:</strong> devrockop@gmail.com<br>
            </p>
            
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Ron</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Best <a href="https://dsc.gg/cinderace">Cinderace</a> by Cinderace Team
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="landing/lib/jquery/jquery.min.js"></script>
  <script src="landing/lib/jquery/jquery-migrate.min.js"></script>
  <script src="landing/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="landing/lib/easing/easing.min.js"></script>
  <script src="landing/lib/superfish/hoverIntent.js"></script>
  <script src="landing/lib/superfish/superfish.min.js"></script>
  <script src="landing/lib/wow/wow.min.js"></script>
  <script src="landing/lib/waypoints/waypoints.min.js"></script>
  <script src="landing/lib/counterup/counterup.min.js"></script>
  <script src="landing/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="landing/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="landing/lib/lightbox/js/lightbox.min.js"></script>
  <script src="landing/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="landing/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="landing/js/main.js"></script>

</body>
</html>
